body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background-color: #453534;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

/* left menu - summary */

.left_aside {
	display: flex;
	position: sticky;
	flex: 0 0 15%;
	top: 0;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
	color: #eeeeee;
}

.left_aside .image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	flex: 0 0 100%;
	color: #eeeeee;
}

.left_aside .image-container img {
	margin: 5%;
	width: 90%;
}

.page-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	flex: 0 0 75%;
	max-width: 75%;
	min-width: 75%;
	color: #eeeeee;
	border-radius: 10px;
	border: 2px solid #291f1f;
	padding: 10px;
}

.page-menu-container .heading-3 {
	font-size: 1rem;
	margin-bottom: 0.75rem;
	color: #ef9000;
	font-variant: small-caps;
	text-align: center;
}

.page-menu-container hr {
  margin-left: 0;
  margin-right: 0;
}

#page-menu { 
	width:100%;
	max-height: 50vh;
	/*height:70vh;*/
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.left_aside .heading-3 {
	font-size: 1rem;
	margin-bottom: 0.75rem;
	color: #ef9000;
	font-variant: small-caps;
}

.left_aside .list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 0.8em;
	color: #ef9000;
}

.left_aside .list .item {
	margin: 0.25rem;
	padding: 0.5rem;
	text-align: left;
	color: #ef9000;
}

.left_aside .list .item a {
	color: #ef9000;
	text-decoration: none;
}

.left_aside .list .sublist {
	list-style: none;
	padding: 0;
	margin-left: 1rem;
	line-height: 1.25;
}

.left_aside .list .sublist .item {
	margin: 0.25rem;
	padding: 0.5rem;
	color: #ef9000;
	text-decoration: none;
}

.left_aside .list .sublist .item a {
	color: #ef9000;
	text-decoration: none;
}

/* Centre menu - main content */

.centre {
	display: flex;
	flex-direction: column;
	flex: 0 0 70%;
}

/* Main content styling */
.main {
	display: flex;
	flex: 0 0 100%;
	max-width: 100%;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0px 10px 0px;
	padding: 0;
	background-color: #453534;
	color: #eeeeee;
	border-left: 3px solid #ef9000;
	border-right: 3px solid #ef9000;
}

.main .heading-1 {
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 1em;
	font-size: 2.5em;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 0 1rem 0;
	text-align: center;
	color: #ef9000;
}

.main hr {
  margin-left: 0;
  margin-right: 0;
}

.main .paragraph {
	text-align: center;
}

/* Right menu - additional infos */

.right_aside {
	display: flex;
	position: sticky;
	flex: 0 0 15%;
	top: 0;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
	color: #333333;
}

.right_aside .page-menu-container {
	margin-bottom: 10px;
}

.right_aside .image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	flex: 0 0 100%;
	color: #eeeeee;
}

.right_aside .image-container img {
	margin: 5%;
	width: 90%;
}

.right_aside .heading-3 {
	font-size: 1rem;
	margin-bottom: 0.75rem;
	color: #ef9000;
	font-variant: small-caps;
}

.right_aside .heading-4 {
	font-size: 0.8rem;
	margin-bottom: 0.75rem;
	color: #eeeeee;
	text-align: center;
	border-radius: 5px;
	background-color: #b0c4de;
	color: #333333;
	margin-bottom: 0;
}

.right_aside .list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 0.8em;
	color: #eeeeee;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.right_aside .list .item {
	margin: 0.25rem;
	padding: 0.5rem;
	text-align: left;
	color: #eeeeee;
}

.right_aside .list .item a {
	color: #ef9000;
	text-decoration: none;
}

/* Header - for navigation */
.header {
	display: flex;
	flex: 0 0 100%;
	flex-direction: column;
	background-color: #291f1f;
	color: #eeeeee;
	padding: 0;
	text-align: center;
}

.header .heading-1 {
	margin: 0;
	font-size: 2em;
}

.nav .list {
	list-style: none;
	padding: 0;
}

.nav .list .item {
	display: inline;
	margin: 0 15px;
}

.nav .list .item a {
	color: #ef9000;
	text-decoration: none;
	font-size: 1.2em;
}

.nav .list .item a:hover {
	text-decoration: underline;
}

.nav .list .navlogo
{
	width: 2em;
	padding-right: 5px;
	vertical-align: bottom;
}

.languageSelector {
	border-radius: 10px;
	background: #eeeeee;
	margin: 0;
	font-size: 1em;
}

.languageOption {
	font-size: 1em;
}

/* footer */

.footer {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	max-width: 100%;
	justify-content: center;
	background-color: #291f1f;
	color: #eeeeee;
	text-align: center;
	padding: 20px 0;
}

.footer .paragraph {
	margin: 0;
	font-size: 1em;
}