/* CV specific */

.article {
	display: flex;
}

.article .list .item:first-child
{
	margin-top: 0.5em;
}

.article .list .item {
	font-size: 1.0em;
	margin-top: 2em;
	display: flex;
}

.sublist {
	list-style: none;
}

.sublist .item
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 2em;
}

.employmentLogo .logo {
	width: 8em;
	margin: 0;
	vertical-align: top;
	padding: 10px;
	border-radius: 5px;
	background-color: #eeeeee;
}

.employmentText {
	margin-left: 2em;
}

.employmentText span {
	color: #ef9000;
}

.employmentText .sublist .item span {
	color: #eeeeee;
}

.qualificationsLogo .logo {
	width: 8em;
	margin: 0;
	vertical-align: top;
	padding: 10px;
	border-radius: 5px;
	background-color: #eeeeee;
}

.qualificationsText {
	margin-left: 2em;
}

.qualificationsText span {
	color: #ef9000;
}

.qualificationsText .sublist .item span {
	color: #eeeeee;
}

.article hr {
	border-width: 1px;
	border-style: solid;
	color: #eeeeee;
}

.article .paragraph {
	margin-bottom: 15px;
}

.article .personalDetails {
	display: flex;
}

.article .personalDetails .portrait img {
	width: 10em;
}

.article .personalDetails #personalDetailsList
{
	list-style: none;
	line-height: 0.50%;
}

.article .personalDetails #personalDetailsList .item
{
	margin-bottom: 0.25em;
}

#responsabilities {
	list-style: none;
	line-height: 0.50%;
}