/* CV specific */

.article #employment
{
	list-style: none;
}

.article #employment .item:first-child
{
	margin-top: 0.5em;
}

.article #employment .item {
	font-size: 1.0em;
	margin-top: 2em;
	display: flex;
}

#employment .sublist {
	list-style: none;
}

#employment .sublist .item
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 2em;
}

.employmentLogo .logo {
	width: 8em;
	padding-right: 2em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}

.article #qualifications {
	list-style: none;
}

.article #qualifications .item .sublist {
	list-style: none;
}

.article #qualifications .item {
	font-size: 1em;
	margin-top: 2em;
	display: flex;
}
.article #qualifications .item:first-child
{
	margin-top: 0.5em;
}

.qualificationsLogo .logo {
	width: 8em;
	padding-right: 2em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: top;
}

.article #qualifications .sublist .item
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 2em;
}

.article #qualifications .item .qualificationsText .sublist .item .a {
	padding-left: 10em;
}

.article #responsabilities {
	list-style: inside;
}

.article hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article .paragraph {
	margin-bottom: 15px;
}

.article .personalDetails {
	display: flex;
}

.article .personalDetails .portrait img {
	width: 10em;
}

.article .personalDetails #personalDetailsList
{
	list-style: none;
}

.article .personalDetails #personalDetailsList .item
{
	margin-bottom: 0.25em;
}