/* FDS 2025 Tic-Tac-Toe */

.FDS2025TicTacToe1 {
	width: 80%;
	display: flex;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left {
	flex: 2;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Choices {
	width: 100%;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Choices .table {
	border-collapse: collapse;
	border: 2px solid black;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Choices .table .row {
	border: 2px solid black;
	margin: 0px;
	padding: 0px;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Choices .table .row button {
	padding: 2px;
	margin: 2px;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Board {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #eeeeee;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Board .FDS2025TicTacToe1Display {
	width: 100%;
	border: 2px solid black;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Board .FDS2025TicTacToe1Display .FDS2025TicTacToe1DisplayLine {
	display: flex;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Board .FDS2025TicTacToe1Display .FDS2025TicTacToe1DisplayLine .FDS2025TicTacToe1DisplayLineImage {
	border: 2px solid black;
	flex: 1;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Left .FDS2025TicTacToe1Board .FDS2025TicTacToe1Display .FDS2025TicTacToe1DisplayLine .FDS2025TicTacToe1DisplayLineImage img {
	width: 100%;
	height: 100%;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Right {
	flex: 3;
	background-color: #eeeeee;
}

.FDS2025TicTacToe1 .FDS2025TicTacToe1Right img {
	width: 100%;
	overflow: visible;
}

.FDS2025TicTacToe2 {
	width: 80%;
	display: flex;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left {
	flex: 2;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Choices {
	width: 100%;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Choices .table {
	border-collapse: collapse;
	border: 2px solid black;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Choices .table .row {
	border: 2px solid black;
	margin: 0px;
	padding: 0px;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Choices .table .row button {
	padding: 2px;
	margin: 2px;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Board {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Board .FDS2025TicTacToe2Display {
	width: 100%;
	border: 2px solid black;
	background-color: #eeeeee;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Board .FDS2025TicTacToe2Display .FDS2025TicTacToe2DisplayLine {
	display: flex;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Board .FDS2025TicTacToe2Display .FDS2025TicTacToe2DisplayLine .FDS2025TicTacToe2DisplayLineImage {
	border: 2px solid black;
	flex: 1;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Left .FDS2025TicTacToe2Board .FDS2025TicTacToe2Display .FDS2025TicTacToe2DisplayLine .FDS2025TicTacToe2DisplayLineImage img {
	width: 100%;
	height: 100%;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Right {
	flex: 3;
	background-color: #eeeeee;
}

.FDS2025TicTacToe2 .FDS2025TicTacToe2Right img {
	width: 100%;
	overflow: visible;
}


/* FDS 2025 Nim */
.FDS2025Nim1 {
	width: 100%;
}

.FDS2025Nim1 .FDS2025Nim1Buttons {
	width: 80%;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.FDS2025Nim1 .FDS2025Nim1Buttons .FDS2025Nim1Button {
	flex: 1;
}

.FDS2025Nim1 .FDS2025Nim1Buttons .FDS2025Nim1Button button {
	margin-left: 2px;
	margin-right: 2px;
}

.FDS2025Nim1 .FDS2025Nim1MovableToken {
	width: 80%;
	display: flex;
}

.FDS2025Nim1 .FDS2025Nim1MovableToken .FDS2025Nim1Token {
	flex: 1;
	justify-content: center;
}

.FDS2025Nim1 .FDS2025Nim1MovableToken .FDS2025Nim1Token img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim1 .FDS2025Nim1Board {
	width: 80%;
	display: flex;
}

.FDS2025Nim1 .FDS2025Nim1Board .FDS2025Nim1BoardPiece {
	flex: 1;
}

.FDS2025Nim1 .FDS2025Nim1Board .FDS2025Nim1BoardPiece img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim1 .FDS2025Nim1Cups {
	width: 80%;
	display: flex;
}

.FDS2025Nim1 .FDS2025Nim1Cups .FDS2025Nim1Cup {
	flex: 1;
}

.FDS2025Nim1 .FDS2025Nim1Cups .FDS2025Nim1Cup img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim1 .FDS2025Nim1Tokens {
	width: 80%;
	display: flex;
}

.FDS2025Nim1 .FDS2025Nim1Tokens .FDS2025Nim1Token {
	flex: 1;
}

.FDS2025Nim1 .FDS2025Nim1Tokens .FDS2025Nim1Token img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim2 {
	width: 100%;
}

.FDS2025Nim2 .FDS2025Nim2Buttons {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2Buttons .FDS2025Nim2Button {
	flex: 1;
}

.FDS2025Nim2 .FDS2025Nim2Buttons .FDS2025Nim2Button button {
	margin-left: 2px;
	margin-right: 2px;
}

.FDS2025Nim2 .FDS2025Nim2MovableToken {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2MovableToken .FDS2025Nim2Token {
	flex: 1;
	justify-content: center;
}

.FDS2025Nim2 .FDS2025Nim2MovableToken .FDS2025Nim2Token img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim2 .FDS2025Nim2Board {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2Board .FDS2025Nim2BoardPiece {
	flex: 1;
}

.FDS2025Nim2 .FDS2025Nim2Board .FDS2025Nim2BoardPiece img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim2 .FDS2025Nim2Tokens {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2Tokens .FDS2025Nim2Token {
	flex: 1;
}

.FDS2025Nim2 .FDS2025Nim2Tokens .FDS2025Nim2Token img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim2 .FDS2025Nim2Cups {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2Cups .FDS2025Nim2Cup {
	flex: 1;
}

.FDS2025Nim2 .FDS2025Nim2Cups .FDS2025Nim2Cup img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim2 .FDS2025Nim2Choices {
	width: 80%;
	display: flex;
}

.FDS2025Nim2 .FDS2025Nim2Choices .FDS2025Nim2Choice {
	flex: 1;
}

.FDS2025Nim2 .FDS2025Nim2Choices .FDS2025Nim2Choice img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim3 {
	width: 100%;
}

.FDS2025Nim3 .FDS2025Nim3Board {
	width: 80%;
	display: flex;
}

.FDS2025Nim3 .FDS2025Nim3Board .FDS2025Nim3BoardPiece {
	flex: 1;
}

.FDS2025Nim3 .FDS2025Nim3Board .FDS2025Nim3BoardPiece img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim3 .FDS2025Nim3Tokens {
	width: 80%;
	display: flex;
}

.FDS2025Nim3 .FDS2025Nim3Tokens .FDS2025Nim3Token {
	flex: 1;
}

.FDS2025Nim3 .FDS2025Nim3Tokens .FDS2025Nim3Token img {
	width: 100%;
	height: 100%;
}

.FDS2025Nim3 .FDS2025Nim3Cups {
	width: 80%;
	display: flex;
}

.FDS2025Nim3 .FDS2025Nim3Cups .FDS2025Nim3Cup {
	flex: 1;
}

.FDS2025Nim3 .FDS2025Nim3Cups .FDS2025Nim3Cup img {
	width: 100%;
	height: 100%;
}