/* General styling */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background-color: #eeeeee;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

/* Header and navigation styling */
.header {
	/*background-color: #333;*/
	background-color: #333333;
	background-image: url(../../images/background/black-paper.png);
	color: white;
	padding: 10px 0;
	text-align: center;
}

.header .heading-1 {
	margin: 0;
	font-size: 2em;
}

.nav .list {
	list-style: none;
	padding: 0;
}

.nav .list .item {
	display: inline;
	margin: 0 15px;
}

.nav .list .item a {
	color: white;
	text-decoration: none;
	font-size: 1em;
}

.nav .list .item a:hover {
	text-decoration: underline;
}

.nav .list .navlogo
{
	width: 2em;
	padding-right: 5px;
	vertical-align: bottom;
}

.languageSelector {
	border-radius: 10px;
	background: #eeeeee;
	margin: 0;
	font-size: 1em;
}

.languageOption {
	font-size: 1em;
}

/* Main content styling */
.main {
	display: flex;
	flex-wrap: nowrap;
}

.content {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 70%;
	padding-left: 10px;
	padding-right: 10px;
}

.content .heading-1 {
	flex: 0 0 100%;
	margin-bottom: 0;
	color: #333;
}

.section {
	flex: 0 1 100%;
	border-radius: 10px;
	/*background-color: #236AB9;*/
	background-color: #5555ff;
	background-image: url(../../images/background/paper-1.png);
	margin-bottom: 2em;
	padding: 10px;
}

.section .heading-2 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
	color: #333;
}

.section .paragraph {
	font-size: 1em;
	margin-bottom: 20px;
	width: 95%;
}

/* Article styling */

hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article {
	border-radius: 10px;
	/*background-color: #D4E4F7;*/
	background-color: #ffffff;
	background-image: url(../../images/background/lined-paper-2.png);
	margin-bottom: 1em;
	padding: 10px;
}

.article hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article .heading-3 {
	font-size: 1.25em;
	margin-bottom: 10px;
	color: #333;
}

a {
	color: blue;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* left sidebar - placeholder */
.sidebarLeft {
	flex: 0 0 15%;
	background-color: #dd7575;
	border-right: 0.25rem solid #333;
	border-left: 0.25rem solid #333;
}

/* Sidebar styling */
.sidebarRight {
	flex: 0 0 15%;
	padding: 20px;
	background-color: #dd7575;
	background-image: url(../../images/background/cardboard.png);
	border-right: 0.25rem solid #333;
	border-left: 0.25rem solid #333;
}

.sidebarRight .heading-3 {
	font-size: 1.25em;
	margin-bottom: 10px;
}

.sidebarRight .list {
	list-style: none;
	padding: 0;
}

.sidebarRight .list .item {
	/*background-color: #333;
	color: white;*/
	padding: 5px;
	margin-bottom: 10px;
	font-size: 1.0em;
	vertical-align: middle;
}

.sidebarRight .list .item a {
	color: blue;
	outline: none;
	text-decoration: none;
}

.sidebarRight .list .item:hover {
	text-decoration: underline;
}

.sidebarRight .list .logo {
	height: 1.2em;
	width: 1.2em;
	padding-right: 10px;
	vertical-align: middle;
}

/* Footer styling */
.footer {
	background-color: #333333;
	background-image: url(../../images/background/black-paper.png);
	color: white;
	text-align: center;
	padding: 20px 0;
}

.footer .paragraph {
	margin: 0;
	font-size: 1em;
}