/* General styling */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background-color: #453534;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 100%;
}

.wrapper {
	display: flex;
	flex: 0 0 100%;
	flex-direction: row;
	align-self: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
}

/* Header and navigation styling */
.header {
	display: flex;
	flex: 0 0 75%;
	flex-direction: column;
	background-color: #291f1f;
	color: #eeeeee;
	padding: 0;
	text-align: center;
}

.header .heading-1 {
	margin: 0;
	font-size: 2em;
}

.nav .list {
	list-style: none;
	padding: 0;
}

.nav .list .item {
	display: inline;
	margin: 0 15px;
}

.nav .list .item a {
	color: #ef9000;
	text-decoration: none;
	font-size: 1.2em;
}

.nav .list .item a:hover {
	text-decoration: underline;
}

.nav .list .navlogo
{
	width: 2em;
	padding-right: 5px;
	vertical-align: bottom;
}

.languageSelector {
	border-radius: 10px;
	background: #eeeeee;
	margin: 0;
	font-size: 1em;
}

.languageOption {
	font-size: 1em;
}

/* left aside styling */
.left_aside
{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 10%;
	left: 25px;
	flex: 0 0 12.5%;
	max-width: 10%;
	color: #eeeeee;
}

#page-menu { 
	width:100%;
	height:75vh;
	overflow: hidden; 
	overflow-y: auto;
}

#page-menu .item::first-line {
	text-indent: -2em;
}

.left_aside .heading-3 {
	font-size: 1.25em;
	margin-bottom: 0px;
	color: #ef9000;
	text-decoration: underline;
}

.left_aside .list {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

.left_aside .list .item {
	margin: 5px 0;
}

.left_aside .list .item a {
	color: #ef9000;
	text-decoration: none;
	font-size: 1.0em;
}

.left_aside .list .sublist {
	list-style: none;
	padding: 0;
	margin-left: 20px;
	list-style: none;
	line-height: 1.25;
}

.left_aside .list .sublist .item {
	margin: 5px 0;
}

.left_aside .list .sublist .item a {
	color: #ef9000;
	text-decoration: none;
	font-size: 1em;
}

/* Main content styling */
.main {
	display: flex;
	flex: 0 0 75%;
	max-width: 75%;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0px 10px 0px;;
	padding: 0;
	background-color: #453534;
	color: #eeeeee;
	border-left: 3px solid #ef9000;
	border-right: 3px solid #ef9000;
}

.main .heading-1 {
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 1em;
	font-size: 2.5em;
	padding: 0;
	margin: 0 0 1rem 0;
	text-align: center;
	color: #ef9000;
}

.main hr {
  margin-left: 0;
  margin-right: 0;
}

.main .paragraph {
	text-align: center;
}

/* Section styling */

.section {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 10px;
	color: #eeeeee;
}

.section .heading-2 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 10px;
	color: #ef9000;
}

.section .paragraph {
	font-size: 1em;
	margin-bottom: 20px;
	width: 95%;
	color: #eeeeee;
	text-align: justify;
}

/* Article styling */

hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 10px;
	color: #eeeeee;
}

.article hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article .heading-3 {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #ef9000;
}

.article .paragraph {
	text-align: justify;
}

a {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.heading-4 {
	font-size: 1.25em;
	margin-bottom: 10px;
	color: #ef9000;
}

/* Footer styling */
.footer {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	justify-content: center;
	background-color: #291f1f;
	color: #eeeeee;
	text-align: center;
	padding: 20px 0;
}

.footer .paragraph {
	margin: 0;
	font-size: 1em;
}