/* General styling */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background-color: #453534;
	box-sizing: border-box;
	height: 100%;
}

.wrapper {
	/*max-width: 100%;
	margin: 0 auto;*/
	box-sizing: border-box;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* Header and navigation styling */
.header {
	background-color: #291f1f;
	color: #eeeeee;
	padding: 10px 0;
	text-align: center;
}

.header .heading-1 {
	margin: 0;
	font-size: 2em;
}

.nav .list {
	list-style: none;
	padding: 0;
}

.nav .list .item {
	display: inline;
	margin: 0 15px;
}

.nav .list .item a {
	color: #ef9000;
	text-decoration: none;
	font-size: 1em;
}

.nav .list .item a:hover {
	text-decoration: underline;
}

.nav .list .navlogo
{
	width: 2em;
	padding-right: 5px;
	vertical-align: bottom;
}

.languageSelector {
	border-radius: 10px;
	background: #eeeeee;
	margin: 0;
	font-size: 1em;
}

.languageOption {
	font-size: 1em;
}

/* Main content styling */
.main {
	/*display: flex;
	flex-wrap: nowrap;*/
	display: flex;
	flex-shrink: 0;
	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	background-color: #453534;
	color: #eeeeee;
}

.content {
	display: flex;
	flex-shrink: 0;
	flex-grow: 1;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
}

.mainContent {
	flex-shrink: 1;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.mainContent .heading-1 {
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 1em;
	font-size: 2.5em;
	padding: 0;
	margin: 0 0 1rem 0;
	text-align: center;
	color: #ef9000;
}

.mainContent .paragraph {
	text-align: center;
}

/* Section styling */

.section {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 10px;
	padding: 10px;
	color: #eeeeee;
}

.section .heading-2 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 10px;
	color: #ef9000;
}

.section .paragraph {
	font-size: 1em;
	margin-bottom: 20px;
	width: 95%;
	color: #eeeeee;
	text-align: justify;
}

/* Article styling */

hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 10px;
	padding: 10px;
	color: #eeeeee;
}

.article hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.article .heading-3 {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #ef9000;
}

.article .paragraph {
	text-align: justify;
}

a {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* left sidebar - placeholder */
.sidebarLeft {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 17.5%;
	background-color: #291f1f;
	border: 2px solid #ef9000;
	border-radius: 8px;
}

/* Sidebar styling */
.sidebarRight {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 17.5%;
	background-color: #291f1f;
	color: #eeeeee;
	border: 2px solid #ef9000;
	border-radius: 8px;
}

.sidebarRight .heading-3 {
	font-size: 1.25em;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	color: #ef9000;
}

.sidebarRight .list {
	list-style: none;
	padding-left: 20px;
}

.sidebarRight .list .item {
	padding: 5px;
	margin-bottom: 10px;
	font-size: 1.0em;
	vertical-align: middle;
}

.sidebarRight .list .item a {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

.sidebarRight .list .item a:hover {
	text-decoration: underline;
}

.sidebarRight .list .logo {
	height: 1.2em;
	width: 1.2em;
	padding-right: 10px;
	vertical-align: middle;
}

/* Footer styling */
.footer {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	background-color: #291f1f;
	color: #eeeeee;
	text-align: center;
	padding: 20px 0;
}

.footer .paragraph {
	margin: 0;
	font-size: 1em;
}