/* personal projects specific */

#personalProjects {
	display: flex;
	flex-wrap: wrap;
}

.article {
	flex: 1 0 46%;
	max-width: 46%;
	border: 1px solid #afafaf;
	margin: 10px;
	padding-left: 1em;
	background-color: #e1e1e1;
}

#personalProjects .article .heading-3 {
	font-size: 1.0em;
}

#personalProjects .article .paragraph {
	font-size: 0.8em;
}