/* personal projects specific */

#personalProjects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.article {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 45%;
	margin: 10px;
	padding-left: 1em;
	background-color: #291f1f;
	border: 2px solid #ef9000;
	border-radius: 8px;
}

#personalProjects .article .heading-3 {
	font-size: 1.0em;
}

#personalProjects .article .paragraph {
	font-size: 0.8em;
}