/* Publication specific */

.article {
	margin-bottom: 25px;
	font-size: 0.8em;
}

.article .heading-3 {
	font-size: 1.5em;
	color: #eeeeee;
	margin-left: 2em;
	font-variant: small-caps;
}

.article .list {
	display: flex;
	flex-direction: column;
}

.article .list .item {
	display: flex;
}

.all_links {
	display: flex;
	align-items: flex-start;
	gap: 1%;
	max-width: 100%;
}

