
/* Talks specific */

#talks .article .talkContent {
	display: flex;
	padding-top: 1em;
}

#talks .article .talkContent .talkText .heading-3 {
	margin-top: 0;
	padding-top: 0;
	margin-left: 2em;
}

#talks .article .talkContent .talkText .list {
	list-style: none;
	padding-top: 0;
	margin-left: 2em;
	margin-top: 0;
	font-size: 1em;
}

#talks .article .talkContent .talkLogo .logo
{
	width: 10em;
	margin: 0;
	vertical-align: top;
	padding: 10px;
	border-radius: 5px;
	background-color: #eeeeee;
}

#talks hr {
	border-width: 1px;
	border-style: solid;
	color: #e0e0e0;
}

.logoLink {
	height: 1.0em;
	vertical-align: middle;
}

.logoLang {
	height: 1.0em;
	vertical-align: middle;
}

.article .list {
	list-style: none;
}

.article .context {
	display: flex;
}

.article .context .figure {
	flex: 1 1 100%;
}

.article .paragraph {
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
	max-width: 100%;
}

figure {
	height: fit-content;
	background-color: #eeeeee;
}

.figure-v {
	border: 5px solid #291f1f;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	max-width: 25%;
	margin: 5px 10px 5px 10px;
}

.figure-h {
	border: 5px solid #291f1f;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	max-width: 45%;
	margin: 5px 10px 5px 10px;
}

.figure-h-full {
	border: 5px solid #291f1f;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	max-width: 100%;
	margin: 5px 10px 5px 10px;
}

.figure-h-full img {
	width: 100%;
}

.figcaption {
	background-color: #291f1f;
	color: #eeeeee;
	font: italic smaller verdana;
	padding: 3px;
	text-align: center;
}

.article .context .paragraph {
	flex: 1 1 75%;
}