/* teaching specific */

.main .heading-1 {
	margin-bottom: 10px;
}

#teaching .article .teachingContent {
	display: flex;
	padding-top: 1em;
}

.teachingText {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 80%;
	margin-left: 2em;
}

#teaching .article .teachingContent .teachingText .heading-3 {
	margin-top: 0;
	padding-top: 0;
}

#teaching .article .teachingContent .teachingText .list {
	list-style: none;
	padding-top: 0;
	margin-top: 0;
	font-size: 1.0em;
}

#teaching .article .teachingContent .teachingLogo .logo
{
	width: 10em;
	padding: 10px;
	border-radius: 5px;
	margin: 0;
	vertical-align: top;
	background-color: #eeeeee;
}

#teaching hr {
	border-width: 1px;
	border-style: solid;
	color: #eeeeee;
}

.table {
	font-size: 1em;
	border: 1px solid #eeeeee;
	border-collapse: collapse;
}

.table .title {
	text-align: left;
	border: 1px solid #eeeeee;
	padding-left: 1em;
	padding-right: 1em;
}

.table .row {
	border: 1px solid #eeeeee;
}

.table .row .column {
	border: 1px solid #eeeeee;
	padding-left: 1em;
	padding-right: 1em;
}

.table .row .column .logo {
	height: 1em;
	padding-right: 0.25em;
	vertical-align: middle;
}

.table .row .column a {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

.paragraph a {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

.paragraph a :hover {
	color: #ef9000;
	outline: none;
	text-decoration: none;
}

.paragraph .logo {
	height: 1em;
}

.article .list {
	list-style: none;
}

.d11answer {
	width: 80%;
	background-color: lightgray;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.d11sql {
	line-height: 0.8;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 0.8em;
	color: #333333;
}

span .list {
	list-style: none;
}

.d11sql .tab {
	margin-left: 4em;
}

.d11sql .table {
	border: none;
	margin-top: 1em;
}

.d11sql .table .title {
	border: none;
	text-align: left;
	padding-left: 0em;
	padding-right: 1em;
}

.d11sql .table .row {
	border: none;
}

.d11sql .table .row .column {
	border: none;
	padding-left: 0em;
	padding-right: 1em;
}

details {
	line-height: 1.0;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 1em;
	padding-top: 0.5em;
}

details img {
	max-width: 100%;
}

details summary {
	line-height: 1.0;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	color: #ef9000;
}

.p21_svg_viewer {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.p21_svg_viewer img
{
	max-width: 100%;
}

.p21_svg_buttons {
	display: flex;
	flex-direction: row;
	margin: 5px 0px 0px 0px;
}

.p21_svg_button_show {
	display: flex;
	margin: 1px;
	height: 2em;
}

.p21_svg_button_hide {
	display: flex;
	margin: 1px;
	height: 2em;
}

.p21_svg_buttons .paragraph {
	display: flex;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	height: 2em;
}

.codeblock {
	margin: 5px 2px 5px 2px;
	padding: 2px 5px 2px 1em;
	background-color: #333333;
}

code .tab {
	margin-left: 4em;
}

/*
 * For C/C++ code, manual syntax coloring
 */
.language-c {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 1em;
}

.language-c .comment {
	color: #357040;
}

.language-c .function {
	color: #b5b525;
}

.language-c .conditional {
	color: #aa00aa;
}

.language-c .loop {
	color: #aa00aa;
}

.language-c .return {
	color: #aa00aa;
}

.language-c .type {
	color: #5f5fcf;
}

.language-c .string {
	color: #cc6000;
}

.language-c .number {
	color: #24dda9;
}

.language-c .define {
	color: #fa2525;
}

.language-c .proc {
	color: #f56e6e;
}

/*
 * For Python code, manual syntax coloring
 */
.language-python {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 1em;
}

.language-python .comment {
	color: #54994c;
}

.language-python .method {
	/*color: #dcdcaa;*/
	color: #c7c75a;
}

.language-python .class {
	/*color: #2ea9b0;*/
	color: #4644c9;
}

.language-python .attribute {
	/*color: #9ccdc4;*/
	color: #4fc4af;
}

.language-python .string {
	/*color: #ce834d;*/
	color: #cf7636;
}

.language-python .number {
	/*olor: #a7/*e9b;*/
	color: #77c75f;
}

.language-python .keyword {
	/*color: #c586c0;*/
	color : #c45cbd;
}

/*
 * For Java code, manual syntax coloring
 */
.language-java {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 1em;
}

.language-java .comment {
	color: #54994c;
}

.language-java .method {
	color: #c7c75a;
}

.language-java .class {
	color: #4644c9;
}

.language-java .attribute {
	color: #4fc4af;
}

.language-java .string {
	color: #cf7636;
}

.language-java .number {
	color: #77c75f;
}

.language-java .keyword {
	color: #fa2525;
}

.language-java .type {
	color: #fa2525;
}


.details {
	font-size: 1em;
	color: #eeeeee;
}

.details summary {
	font-size: 1em;
	color: #ef9000;
}

.console_anwser {
	padding: 0.5em 1em 0.5em 1em;
	background-color: #333333;
}

.console {
	font-family: "Lucida Console", Courier, monospace;
	background-color: #333333;
	color: #eeeeee;
	line-height: 1.5em;
}

.text_anwser {
	padding: 0.5em 1em 0.5em 1em;
	background-color: #eeeeee;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #eeeeee;
	color: #333333;
	line-height: 1.5em;
}